.png { background:inherit; }
a {text-decoration:none;}
a img {border:none}
body { font-size:12px; }
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
display: block;
}
audio,canvas,video {
display: inline-block;
*display: inline;
*zoom: 1;
}
audio:not([controls]) {
display: none;
}
[hidden] {
display: none;
}
html {
font-size: 100%; /* 1 */
overflow-y: scroll; /* 2 */
-webkit-text-size-adjust: 100%; /* 3 */
-ms-text-size-adjust: 100%; /* 3 */
}
body {
margin: 0;
overflow:hidden;
}
body,button,input,select,textarea {
font-family: sans-serif;
}
a:focus {
outline: thin dotted;
}
a:hover,a:active {
outline: 0;
}
h1 {
font-size: 2em;
}
abbr[title] {
border-bottom: 1px dotted;
}
b, strong {
font-weight: bold;
}
blockquote {
margin: 1em 40px;
}
dfn {
font-style: italic;
}
mark {
background: #ff0;
color: #000;
}
pre,code,kbd,samp {
font-family: monospace, serif;
_font-family: 'courier new', monospace;
font-size: 1em;
}
pre {
white-space: pre;
white-space: pre-wrap;
word-wrap: break-word;
}
q {
quotes: none;
}
q:before,q:after {
content: '';
content: none;
}
small {
font-size: 75%;
}
sub,sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}
sup {
top: -0.5em;
}
sub {
bottom: -0.25em;
}
ul,ol {
margin: 0;
padding: 0;
}
dd {
margin: 0 0 0 40px;
}
nav ul,nav ol, li {
list-style: none;
list-style-image: none;
}
img {
border: 0; /* 1 */
-ms-interpolation-mode: bicubic; /* 2 */
}
svg:not(:root) {
overflow: hidden;
}
figure {
margin: 0;
}
form {
margin: 0;
}
fieldset {
border: 1px solid #c0c0c0;
margin: 0 2px;
padding: 0.35em 0.625em 0.75em;
}
legend {
border: 0; /* 1 */
*margin-left: -7px; /* 2 */
}
button,input,select,textarea {
font-size: 100%; /* 1 */
margin: 0; /* 2 */
vertical-align: baseline; /* 3 */
*vertical-align: middle; /* 3 */
}
button,input {
line-height: normal; /* 1 */
}
button,input[type="button"], input[type="reset"], input[type="submit"] {
cursor: pointer; /* 1 */
-webkit-appearance: button; /* 2 */
*overflow: visible; /* 3 */
}
input[type="checkbox"],input[type="radio"] {
box-sizing: border-box; /* 1 */
padding: 0; /* 2 */
}
input[type="search"] {
-webkit-appearance: textfield; /* 1 */
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box; /* 2 */
box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}
button::-moz-focus-inner,input::-moz-focus-inner {
border: 0;
padding: 0;
}
textarea {
overflow: auto; /* 1 */
vertical-align: top; /* 2 */
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/* body {-moz-user-select: none;-khtml-user-select: none;-ie-user-select: none;} --disable selecting text--*/ 

@media only screen and (max-device-width: 480px){
/*--- iPhone only CSS here ---*/
}

@media handheld {
/*--- cellphone only CSS here --*/
}

@media print {
/*--- print only CSS here --*/
}

/* Standard CSS ends here */
.container { width:800px; margin:0 auto; }
.subcontainer { width:650px; margin:0 auto; }
html {background: #F3F4F5;}
body { color: #444;
background: #a3d2ff;
background: -moz-linear-gradient(top,  #a3d2ff 0%, #61a0f9 37%, #61a0f9 67%, #a3d2ff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3d2ff), color-stop(37%,#61a0f9), color-stop(67%,#61a0f9), color-stop(100%,#a3d2ff));
background: -webkit-linear-gradient(top,  #a3d2ff 0%,#61a0f9 37%,#61a0f9 67%,#a3d2ff 100%);
background: -o-linear-gradient(top,  #a3d2ff 0%,#61a0f9 37%,#61a0f9 67%,#a3d2ff 100%);
background: -ms-linear-gradient(top,  #a3d2ff 0%,#61a0f9 37%,#61a0f9 67%,#a3d2ff 100%);
background: linear-gradient(top,  #a3d2ff 0%,#61a0f9 37%,#61a0f9 67%,#a3d2ff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3d2ff', endColorstr='#a3d2ff',GradientType=0 );
background-repeat:no-repeat;
}
#one, #three { padding:10px 25px;}
#one, #four, #three, #seven { background:#f3f4f5 }
#two { height:670px; }
#three { min-height:65px; }
#four { padding: 20px 0; border-top: 1px solid blue; }
#refresh { padding:10px 35px;font-size:16pt;background: #3b679e;background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8));background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);background: linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 );border:none;border-radius:3px;text-shadow:#333 1px 1px 1px;color:#fff;margin-bottom:15px; }
#callCatan { width:765px;margin:0 auto; }
#catan { display:block;margin:0 auto;opacity:0.5;position:absolute; }
#youTube { margin:0 auto;width:0px;height:0px;position:relative;top:333px;background:black; }
.glow { 
-webkit-box-shadow: 0 0 35px rgba(255,255,200, 0.5);
-moz-box-shadow: 0 0 35px rgba(255,255,200, 0.5);
box-shadow: 0 0 35px rgba(255,255,200, 0.5);
border:1px solid rgba(255,255,200, 0.5); } 
#youTube object { visibility:hidden; }
#defeat {color:blue;cursor:pointer;}
#defeat:hover {color:red;}
#four table {line-height:17px;}
#four table td {border-bottom:1px solid #ccc;padding:5px 0}
#four table td {padding-right:50px;}
#four table td.middle {padding-right:20px;}
#four table td.end {padding-right:0;}
#four table tr:hover {background:#eee}
#five {background:#444;color:white;padding:6px 25px;}
#five a {background: yellow;color: black;padding: 2px 5px;border-radius: 5px;margin:0 10px}
#confession {float: left;margin-right: 146px;margin-top: -14px;height:110px} 
#replace {display:inline;margin-right: 15px;margin-top: 3px; }
#won { background: #fefcea;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmNlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWRhMzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #fefcea 0%, #f1da36 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36));
background: -webkit-linear-gradient(top,  #fefcea 0%,#f1da36 100%);
background: -o-linear-gradient(top,  #fefcea 0%,#f1da36 100%);
background: -ms-linear-gradient(top,  #fefcea 0%,#f1da36 100%);
background: linear-gradient(top,  #fefcea 0%,#f1da36 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 );
color: black;padding: 2px 10px;border-radius: 3px;margin:0 10px;cursor:pointer;border:1px solid #f1da36; }
#won:hover { background: #f1da36;border-color:#a98; }
#continue { display:none; }
#six { border-top: 1px solid #F1DA36; border-bottom:1px solid #F1DA36; padding:10px 0; background: #66C; color:#fff;font-weight:bold;font-size:10pt; }
#challenge { background: #FEFCEA;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmNlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWRhMzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #FEFCEA 0%, #F1DA36 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFCEA), color-stop(100%,#F1DA36));
background: -webkit-linear-gradient(top, #FEFCEA 0%,#F1DA36 100%);
background: -o-linear-gradient(top, #FEFCEA 0%,#F1DA36 100%);
background: -ms-linear-gradient(top, #FEFCEA 0%,#F1DA36 100%);
background: linear-gradient(top, #FEFCEA 0%,#F1DA36 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 );
color: black;
padding: 2px 10px;
border-radius: 3px;
margin: 0 10px;
cursor: pointer;
border: 1px solid #F1DA36; }
#seven { padding:20px 0; }